@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  html,
  body {
    color: #0f172a; /* slate-900 for high contrast */
  }
}

em {
  font-weight: bold;
  color: black;
  font-style: normal;
}
